app/bootstrap*

vendor/*
*/logs/*
*/cache/*
web/bundles/*
web/js*
web/css*

app/config/parameters.ini
app/config/parameters.yml

composer.phar
composer.lock

*.php~

.idea
*.DS_STORE

bin/behat
bin/doctrine
bin/doctrine.php
bin/phpspec
